*{
    padding: 0;
    margin: 0;
    user-select: none;
}
.paper{
    background-image: url("../materials/background.png");
    background-repeat: repeat;
}
.white{
    background-color: #FFFFFF;
}
body{
    background-color: #F1EAE4;
}
div{
    margin: 0 auto;
}

/* стили шапки */

.navbar{
    padding: 30px 0; 
    width: 95%;
    list-style-type: none;
    overflow: hidden;
} 
li{
    margin: 0 0;
    float: right;
}
li a{
    display: block;
    color: black;
    font-size: 18px;
    text-align: left;
    padding: 0 0 0 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
li a:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
li a, li a:hover{
    transition: all.60s ease;
    -webkit-transition: all.60s ease;
    -o-transition: all.60s ease;
    -moz-transition: all.60s ease;
    -ms-transition: all.60s ease;
    
}

/* стили утп */

.logo{
    width: 410px;
    height: 205px;
}
.unic{
    text-align: center;
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}
.unic a{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

/* стили открыток */

.cards{
    margin: 0 auto;
    padding: 115px 0 0 0;
    height: 500px;
    overflow: hidden;
    text-align: center;
}
.card{
    display: inline;
    margin-left: 1%;
    
}
.card img{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 4px gray;
}

/* стили для подвала */

footer{
    background-color: #beb3aa;
    height: 30px;
    padding: 30px 60px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: aliceblue;
    /*box-shadow: 0 -5px 10px gray;*/
}

/* стили био */
.bio{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    height: 342px;
}
.ava{
    background-color: #D9D9D9;
    height: 227px;
    width: 227px;
    border-radius: 50%;
    font-size: 28px;
    font-weight: 300;
    margin: 56px auto;
}
.ava p{
    padding-bottom: 10%;
    margin: 11px 0 23px 0;
}
.buttons{
    margin-top: 5%;
    width: 260px;
    height: 54px; 
    font-size: 24px;
    font-weight: 400;
    line-height: 2.3;
}
.buttons div{
    float: left;
    background-color: #D9D9D9;
    margin-left: 11px;
}
#button1{
    width: 176px; 
    border-radius: 33px;
}
#button2{
    width: 54px; 
    height: 54px;
    border-radius: 50%;
}
.buttons img{
    padding: 17px 17px;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
}
#button2:hover{
    background-color: #9c9b9b;
    cursor: pointer;
}
.prof-info{
    transition: .5s ease;
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
    opacity: 0;
    
}
.draft:hover .prof-info{
    opacity: 1;
}
.prof-info-text{
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    background-color: #D9D9D9;
    height: 40px;
    width: 160px;
    border-radius: 33px;
    line-height: 2;
    margin-bottom: 2%;
}
.prof-info-text:hover{
    background-color: #9c9b9b;
    color: #FFFFFF;
    cursor: pointer;
}
#delete:hover{
    background-color: #DE6F89;
}
#prof-edit a{
    text-decoration: none;
    color: black;
}
#prof-edit a:hover{
    color: #FFFFFF;
}
.exit a{
    text-decoration: none;
    color: black;
}

/* стили открытки в профиле\черновики\библиотеке */

.drafts{
    margin: 38px auto 0;
}
.drafts::after{
    content: "";
    display: block;
    clear: both;
}
.draft{
    margin: 0 0 43px 43px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 0;
}
.draft:hover img{
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    -o-filter: brightness(0.5);
    -ms-filter: brightness(0.5);
}
.draft img{
    height: 400px;
    width: 564px;
    border-radius: 15px;
    transition: .5s ease;
    backface-visibility: hidden;
}


/* стили библиотека */

.unic2{
    width: 1171px;
    text-align: left;
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}
.more{
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: #D9D9D9;
    height: 30px;
    width: 170px;
    border-radius: 33px;
    line-height: 1.4;
    margin-bottom: 2%;
}
.more:hover{
    background-color: #9c9b9b;
    color: #FFFFFF;
    cursor: pointer;
}
.exit:hover{
    background-color: #db375d;
    color: #FFFFFF;
}
.lib-send{
    transition: .5s ease;
    position: absolute;
    top: 45%;
    left: 35%;
    text-align: center;
    opacity: 0;
}
.draft:hover .lib-send{
    opacity: 1;
}
.lib-send-text{
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    background-color: #D9D9D9;
    height: 40px;
    width: 160px;
    border-radius: 33px;
    line-height: 2;
}
.lib-send-text:hover{
    background-color: #9c9b9b;
    color: #FFFFFF;
    cursor: pointer;
}

/* стили редактор */

.desk{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#canvas-wrapper{
    position: absolute;
    left: 28%;
    padding: 0;
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
    /* border-radius: 15px; */
}
.palette{
    position: fixed;
    bottom: 0;
    left: 30%;
    height: 10%;
    width: 30%;
    background-color: #D9D9D9;
    border-radius: 33px 33px 0 0;
    text-align: center;
    display: flex;
    padding: 0 5%;
    align-items: center;
}
.type input{
    display: none;
}
.type img{
    display: inline-block;
    cursor: pointer;
}
.type input:checked + label{
    background-color: #9f9c9c;
    border-radius: 50%;  
}
.size{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
#pen-size{
    /* width: 50%; */
    background: black;
}
#pen-color{
    width: 22px;
    height: 24px;
}
.actions-palette button{
    border: none;
    outline: none;
    background-color: #D9D9D9;
    cursor: pointer;
}
#redo-canvas img{
    transform: rotate(180deg);
}

/* стили формы */

.form-bg{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
}
.form{
    background-color: rgb(255, 255, 255);
    width: 30%;
    position: absolute;
    right: 0;
    height: 100%;
    border-radius: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}
.msg{
    font-size: 12px;
    text-align: center;
    color: #db375d;
}
.msg p{
    text-align: left;
}
#success{
    color: #74cb90;
    /* visibility: hidden; */
    /* display: none; */
}
.close{
    margin: 2% 2% 0 2%;
    float: right;
    height: 40px;
    width: 40px;
    background-color: #DE6F89;
    border-radius: 50%;
}
.close img{
    height: 20px;
    width: 20px;
    margin: 10px;
}
.close:hover{
    cursor: pointer;
    background-color: #db375d;
}
.string{
    margin: 30% auto;
    width: 90%;
    font-size: 18px;
}
.area{
    margin-bottom: 10%;
}
.area input{
    height: 50px;
    width: 95%;
    border-radius: 15px;
    border: solid 1.5px black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-left: 5%;
    margin: 0 auto;
}
.area input:focus{
   border: 3px;
}
button:not(#undo-canvas, #save-canvas, #redo-canvas){
    margin: 2% auto 0;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    border: none;
    background-color: #D9D9D9;
}
button:hover:not(#undo-canvas, #save-canvas, #redo-canvas){
    cursor: pointer;
    background-color: #9CE1D5;
    color: #FFFFFF;
}
.open-page{
    position: absolute;
    bottom: 2%;
    width: 100%;
    right: 0;
    text-align: center;
}
.open-page:hover{
    cursor: pointer;
    color: rgb(131, 130, 130);
}
.share{
    text-align: center;
    margin-bottom: 15%;
}
#mail{
    background-color: #596AFE;

}
#vk{
    background-color: #589AFE;
}
#tg{
    background-color: #58C2FE;
}
#dw{
    background-color: #9CE1D5;
}